.button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 5px 18px 5px 18px;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    justify-content: center;
  }
  .button {
    justify-content: center;
  }
}
