@font-face {
  font-family: 'Avenier';
  src: url('../fonts/AvenirNextFont.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Avenier';
  src: url('../fonts/AvenirNextBold.otf');
  font-weight: 800;
}

@font-face {
  font-family: 'Avenier';
  src: url('../fonts/AvenirNextItalic.otf');
  font-style: italic;
}

@font-face {
  font-family: 'Avenier';
  src: url('../fonts/avenirnextmedium.ttf');
  font-weight: 600;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100vh;
}

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
  --primary-accent: linear-gradient(180deg, #fffaa3, #fffaa3);
  --secondary-accent: beige;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
  --primary-accent: linear-gradient(180deg, #1e08c7, #3f01e9);
  --secondary-accent: #3f01e9;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Avenier';
}

a {
  color: inherit;
  text-decoration: none;
}
